# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Jupyter

# =========================

.ipynb_checkpoints/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Environment / local config

# =========================

.env
.venv/
venv/

# =========================

# Raw data (large, ignore)

# =========================

data/raw/**
!data/raw/**/.gitkeep

# =========================

# Cleaned data (optional, usually ignore)

# =========================

data/cleaned/**
!data/cleaned/**/.gitkeep

# =========================

# Processed data

# Keep final CSVs, ignore heavy stuff

# =========================

# ignore heavy subfolders

data/processed/images/**
data/processed/embeddings/**

# keep CSV outputs

!data/processed/*.csv

# keep structure

!data/processed/**/.gitkeep

# =========================

# Outputs (generated)

# =========================

outputs/**
!outputs/**/.gitkeep

# =========================

# Figures (optional)

# =========================

figures/**
!figures/.gitkeep

# =========================

# Blender temp files

# =========================

*.blend1
*.blend2

# =========================

# Model weights / large files

# =========================

*.pth
*.pt
*.ckpt
*.safetensors
*.onnx
*.zip
